<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>ServletStatelessEjb</servlet-name>
    <servlet-class>com.example.ejb.servlet.ServletStatelessEjb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStatelessEjb</servlet-name>
    <url-pattern>/servlet/figuras</url-pattern>
  </servlet-mapping>
  
  <!--  <servlet>
    <servlet-name>ServletStatefulEjb</servlet-name>
    <servlet-class>com.example.ejb.servlet.ServletStatefulEjb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStatefulEjb</servlet-name>
    <url-pattern>/servlet/click</url-pattern>
  </servlet-mapping> -->
</web-app>